/*@font-face {*/
/*  font-family: 'Montserrat';*/
/*  font-weight: 400;*/
/*  font-display: swap;*/
/*  src: url('fonts/montserrat/Montserrat-Regular.ttf');*/
/*}*/

/*@font-face {*/
/*  font-family: 'Montserrat';*/
/*  font-weight: 500;*/
/*  font-display: swap;*/
/*  src: url('fonts/montserrat/Montserrat-Medium.ttf');*/
/*}*/

/*@font-face {*/
/*  font-family: 'Montserrat';*/
/*  font-weight: 600;*/
/*  font-display: swap;*/
/*  src: url('fonts/montserrat/Montserrat-SemiBold.ttf');*/
/*}*/

body {
  font-family: Montserrat, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Playfair Display, sans-serif;
  letter-spacing: 2px;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  display: block;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
.btn {
  border-radius: 0;
  color: #282828;
  font-size: 1rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.btn,
.btn:active,
.btn:focus,
.btn:active {
  outline: 0;
  outline-offset: 0;
  box-shadow: none;
}
.btn-orange {
  background-color: #ffbc64;
  border: 1px solid #ffbc64;
}
.btn-white {
  margin: 2.75rem 0 3.5rem 0;
  background-color: #fff;
  border: 1px solid #ffbc64;
  padding: 0.75rem 5.25rem;
}
.btn-orange:hover {
  background-color: #fff;
}
.btn-white:hover {
  background-color: #ffbc64;
}
.blu-dot:after {
  color: #00A1B7;
}
.yellow-dot:after{
  color: #ffbc64;
}
.blu-dot:after,
.yellow-dot:after {
  content: ".";
  font-size: 4rem;
  line-height: 1rem;
}
.link {
  color: #fff;
}
.link:hover,
#header .nav-link:hover {
  color: #ffbc64;
}
.gray-bg {
  background-color: #8ba7d8;
  /*background: rgba(0, 0, 0, 0.1);*/
  z-index: 5000000;
}
.gray-bg .dropdown-menu.show {
  background-color: #8ba7d8;
}
.green-bg {
  background: #2390a3;
  z-index: 5000000;
}
.green-bg .dropdown-menu.show {
  background-color: #2390a3;
}
#header .dropdown-menu.show .nav-link {
  color: white;
}
.section {
  padding: 76px 0 0;
}
.page {
  padding: 76px 0;
  min-height: calc(100vh - 216px);
}
.title {
  margin: 3rem 0;
}
.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.subtitle {
  color: white;
  position: absolute;
  bottom: 12%;
  left: 50%;
  transform: translateX(-50%);
}
.icon {
  font-size: 5rem;
  cursor: pointer;
}
.icon:hover {
  color: #ffbc64;
}
.wrapper-spinner {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #f8f8f8ad;
}
.wrapper-spinner .spinner {
  top: 30%;
  left: 48%;
  z-index: 1000;
  position: absolute;
}
/*////////////////////////*/
/*-----HOME-PAGE---------*/
/*////////////////////////*/
/*-----header--------*/
#header .dropdown-item:hover {
  background-color: #ffbc64;
}
#header .dropdown-item:focus {
  background-color: #fff;
}
.header-wrapper {
  /*top: calc((100% - var(--heightA))/2);*/
  /*margin-left: calc(var(--widthA)/-2);*/
  /*width: calc(100% - 500px);*/
  color: #fff;
  height: 90vh;
}
.btn-wrapper {
  margin: 2.75rem 0 3.5rem 0;
  padding: 0.75rem 5.25rem;
}
.header-content {
  margin: 3.5rem 0 0;
  color: white;
  border: 1px solid white;
  width: 100%;
  text-align: center;
}
.header-title {
  margin: 4.375rem 0 2.5rem 0;
  letter-spacing: 9px;
  font-size: 3.75rem;
  height: 80px;
  overflow: hidden;
}
.header-subtitle {
  width: 50%;
  margin: 0 auto;
  height: 74px;
  overflow: hidden;
}
.header-img {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 90vh;
  z-index: -10;
}
/*-------info-------------*/
.info {
  padding-top: 4rem;
}
.info-title {
  font-size: 2.5rem;
  margin-bottom: 4.375rem;
}
.info-quote {
  position: relative;
  margin: 7rem 0;
  padding: 0 40px;
}
.info-quote:before {
  content: "«";
  top: -10px;
  left: 0;
}
.info-quote:after {
  content: "»";
  bottom: 0;
  right: 0;
}
.info-quote:after,
.info-quote:before {
  color: #ffbc64;
  font-size: 4.375rem;
  line-height: 2.125rem;
  position: absolute;
}
/*--------send----------------*/
.color-wrapper {
  background-color: #27a0b5;
  position: relative;
}
.border-wrapper {
  position: absolute;
  border: 1px solid white;
  width: calc(100% - 22px);
  height: calc(100% - 22px);
  margin: 10px;
}
.send-wrapper {
  padding: 60px 100px;
  height: 100%;
  width: 100%;
  color: #fff;
}
.send-title {
  margin-bottom: 3rem;
}
.form {
  margin-top: 4rem;
}
.send-input {
  width: 100%;
  background: transparent;
  outline: none;
  color: white;
  padding: 0.5rem;
  border-radius: 0;
}
.send-input + .send-input {
  margin-top: 1rem;
}
.send-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #fff;
  opacity: 1; /* Firefox */
}
.btn-send {
  margin: 2rem 0 1rem;
  padding: 0.75rem 0;
  width: 60%;
}
.send-photo {
  width: 100%;
  height: auto;
  margin-bottom: 1rem
}
/*------contact---------------*/
.contact {
  background-color: #27a0b5;
  color: white;
  text-align: center;
  padding: 4rem 0;
}
.title-contact {
  margin-bottom: 5.5rem;
}
.contact img {
  margin-bottom: 1rem;
}
/*---------footer----------------*/
.footer {
  background-color: #2390a3;
  padding: 2rem 0 5rem;
}
.footer-nav {
  font-size: 2rem;
}
/*////////////////////////*/
/*-----ABOUT-PAGE---------*/
/*////////////////////////*/
/*---------aboutme----------*/

/*////////////////////////*/
/*-----PROJECT-PAGE---------*/
/*////////////////////////*/
.projects-img {
  position: relative;
}
/*////////////////////////*/
/*-----VIDEO-PAGE---------*/
/*////////////////////////*/
.video-img {
  position: relative;
}
.video iframe {
  width: 100%;
  height: auto;
  min-height: 315px;
}
/*////////////////////////*/
/*-----BLOG-PAGE---------*/
/*////////////////////////*/
.blog {
  min-height: calc(100vh - 216px);
}
/*////////////////////////*/
/*-----MEDIA---------*/
/*////////////////////////*/
@media (min-width: 992px) {
  .header-title {
    margin: 4.375rem 0 2.5rem 0;
    height: 80px;
  }
}
@media (max-width: 991px) {
  .header-wrapper, .header-img {
    height: 100vh;
  }
  .header-title {
    margin: 4.375rem 0 2.5rem 0;
    height: 80px
  }
  .header-subtitle {
    width: 60%;
    height: 130px;
  }
}
@media (max-width: 767px) {
  .send-wrapper {
    padding: 40px 20px;
  }
  .header-content {
     margin: 2rem 0 0;
  }
  .header-title {
    margin: 2rem 0;
    font-size: 2.5rem;
    height: 100px;
  }
  .info-quote {
    margin: 4rem 0;
  }
  /*.blog {*/
  /*  padding: 0;*/
  /*}*/
  .blog-title {
    margin: 6rem 0 3rem;
  }
  .blog-subtitle {
    margin: 3rem 0;
  }
}
@media (max-width: 576px) {
  .send-wrapper {
    padding: 40px 20px;
  }
  .header-subtitle {
    width: 100%;
    height: 146px;
  }
  .btn-wrapper {
    padding: 0.75rem 3rem;
  }
}
@media (max-width: 390px) {
  .header-wrapper, .header-img {
    height: 105vh;
  }
}
